:root {
    --green-color: #28a745;
    --red-color: #dc3545;
    --yellow-color: #d29604;
    --dark-color: #1B262C;
    --white-color: #ffffff;
    --tooltip-background: #000000;
    --tooltip-text-color: #ffffff;
    --tooltip-padding: 5px 10px;
    --tooltip-border-radius: 2px;
    --font-family: "woodmart-font";
    --font-size: 16px;
}

/* General styles for stock status elements */
.woocommerce div.product p.stock,
.woocommerce-page div.product p.stock {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px dashed var(--dark-color);
}

/* Style for availability label */
.availability-label {
    font-size: var(--font-size);
    color: var(--dark-color);
}

/* Style for availability status */
.availability-status {
    font-size: var(--font-size);
    display: inline-block;
    margin-right: 5px;
}

/* Common styles for status icons */
.stock-icon::after {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    margin-left: 5px;
    vertical-align: middle;
    line-height: 1;
    position: relative;
}

/* Tooltip container */
.stock-icon {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.stock-icon::before {
    content: attr(data-title);
    visibility: hidden;
    opacity: 0;
    width: 120px;
    background-color: var(--tooltip-background);
    color: var(--tooltip-text-color);
    text-align: center;
    border-radius: var(--tooltip-border-radius);
    padding: var(--tooltip-padding);
    position: absolute;
    z-index: 1;
    bottom: 135%;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.3s;
    font-size: 12px;
    line-height: 1.4;
    word-break: break-word;
}

/* Show the tooltip text on hover */
.stock-icon:hover::before {
    visibility: visible;
    opacity: 1;
}

/* Styles for stock status */
.woocommerce div.product p.stock.instock .availability-status,
.woocommerce-page div.product p.stock.instock .availability-status,
.woocommerce div.product p.stock.instore .availability-status,
.woocommerce-page div.product p.stock.instore .availability-status {
    color: var(--green-color);
}

.woocommerce div.product p.stock.outofstock .availability-status,
.woocommerce-page div.product p.stock.outofstock .availability-status,
.woocommerce div.product p.stock.discontinued .availability-status,
.woocommerce-page div.product p.stock.discontinued .availability-status {
    color: var(--red-color);
}

.woocommerce div.product p.stock.onbackorder .availability-status,
.woocommerce-page div.product p.stock.onbackorder .availability-status {
    color: var(--yellow-color);
}

.woocommerce div.product p.stock.instock .stock-icon::after,
.woocommerce-page div.product p.stock.instock .stock-icon::after,
.woocommerce div.product p.stock.instore .stock-icon::after,
.woocommerce-page div.product p.stock.instore .stock-icon::after {
    content: "\f100";
    color: var(--green-color);
    top: -2px;
}

.woocommerce div.product p.stock.outofstock .stock-icon::after,
.woocommerce-page div.product p.stock.outofstock .stock-icon::after,
.woocommerce div.product p.stock.discontinued .stock-icon::after,
.woocommerce-page div.product p.stock.discontinued .stock-icon::after {
    content: "\f100";
    color: var(--red-color);
}

.woocommerce div.product p.stock.onbackorder .stock-icon::after,
.woocommerce-page div.product p.stock.onbackorder .stock-icon::after {
    content: "\f100";
    color: var(--yellow-color);
}

/* Badge styles */
.product-label.instore {
    background-color: var(--green-color);
    color: var(--white-color);
    word-break: auto-phrase;
}

.product-label.discontinued {
    background-color: var(--red-color);
    color: var(--white-color);
    word-break: auto-phrase;
}
